@import '../../../../../assets//commonStyles//vars_mixins';

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba($color: $brown_clr, $alpha: .5);
    transition: $transition_val;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
}


.modalContent {
    position: relative;
    width: 615px;
    // height: 600px;
    max-height: 100vh;
    overflow-y: auto;
    background-color: $lgrey_clr;
    border-radius: $borderR_value;
    border: 3px solid $brown_clr;
    box-shadow: $boxshadow_val;

    padding: 20px 30px 7px 30px;

    @media(max-width: 630px) {
        width: 100%;
        border-radius: 0px;
        border: 0px solid transparent;
    }

    @media(max-width: 576px) {
        padding: 20px 15px 7px 15px;
    }
}

.title {
    margin-top: 0px;
    padding-right: 40px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
}

.closeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 28px;
    padding: 3px;
    cursor: pointer;
}

.closeBtnMask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background-color: red;
}


.modalContent::-webkit-scrollbar {
    width: 4px;
}

.modalContent::-webkit-scrollbar-track{
    background-color: transparent;
}

.modalContent::-webkit-scrollbar-thumb{
    background-color: rgba($color: #000000, $alpha: .3);
    border-radius: 3px;
}





// ::-webkit-scrollbar-thumb {
//     // background-color: #9d9b9b;
//     // border-radius: 5px;
//     background-color: $orange_light_clr;
// }