@import '../../../../assets//commonStyles//vars_mixins';
@import '../../../../assets//commonStyles//modules/customInputs.module.scss';

.form {
    width: 390px;
    margin: 0px auto;
    padding: 35px 35px;
    background-color: rgba($color: $brown_clr, $alpha: .03);
    border-radius: $borderR_value;
    box-shadow: $boxshadow_val;

    @media(max-width: 420px) {
        width: 100%;
        padding: 35px 15px;
    }
}

.passwordInputGroup {
    position: relative;

    input.styledInput {
        padding-right: 40px;
    }
}

.eyeBtn {
    position: absolute;
    top: 25px;
    right: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 25px;
    color: rgba($color: $brown_clr, $alpha: .5);
    cursor: pointer;
}



.checkboxWr {
    margin-bottom: 6px;

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 1;
        cursor: pointer;
        // font-weight: 600;
    }

    label .checkElem {
        display: inline-block;
        width: 17px;
        height: 17px;
        border: 1px solid $orange_clr;
        border-radius: 2px;
        transition: $transition_val;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            opacity: 0;
            visibility: hidden;
            color: $lgrey_clr;
            font-size: 13px;
            transition: $transition_val;
        }
    }

    label .checkBoxLett {
        display: inline-block;
        white-space: nowrap;
        font-size: 16px;
        margin-bottom: 1px;
    }

    input:checked+label {
        .checkElem {
            background-color: $orange_clr;

            svg {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.err {
    margin-bottom: 0px;
    font-size: 11px;
    margin-top: 0px;
    white-space: nowrap;
    font-weight: 600;
    color: $err_clr;
    height: 13px;
    // opacity: 0;
}

.captchaBlock {
    margin-bottom: 0px;
}

.captchaImgAndRefresh {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    // gap: 10px;
}

.captchaImgAndRefresh .refreshBtn,
.refreshBtn:hover,
.refreshBtn:disabled,
.refreshBtn:disabled:hover {
    align-self: flex-end;
    color: $brown_clr;
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    display: inline-block;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
}

.captchaImgWr {
    height: 100px;
    width: 200px;
    @include img-absolute;
}

.errOnLogin {
    color: $err_clr;
    text-align: center;
    font-weight: 600;
    // height: 19px;
    font-size: 13px;
    // line-height: 1;
    // height: 13px;
    margin-bottom: 4px;
    margin-top: 3px;
    white-space: nowrap;
}

.captchaErr {
    text-align: right;
    margin-bottom: 4px;
    height: auto;
    line-height: 1;
    height: 11px;
}

button.signInBtn,
button.signInBtn:hover,
button.signInBtn:disabled,
button.signInBtn:disabled:hover {
    width: 100%;
    gap: 7px;
}

button.signInBtn:disabled {
    opacity: .6;
}