@import '../../../../../assets//commonStyles//vars_mixins';
@import '../../../../../assets//commonStyles//modules//styledInputs.module.scss';


.form {
    position: relative;
    margin-top: 15px;
}

textarea.styledTextarea {
    margin-bottom: 2px;
    padding-right: 35px;
}

.charactersLeft {
    text-align: right;
    margin-bottom: 0px;
    font-size: 12px;
    color: rgba($color: $brown_clr, $alpha: .7);
}



button.sendBtn {
    position: absolute;
    z-index: 1;
    top: 32px;
    right: 0px;
    padding: 12px 7px 12px 12px;
    border-radius: 0.375rem;
    color: rgba($color: $brown_light_clr, $alpha: .6);
    display: flex; justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: $transition_val;

    svg {
        font-size: 1.5rem;
    }

    &:hover {
        background-color: transparent;
        color: rgba($color: $brown_light_clr, $alpha: 1);
    }
}

button.sendBtn:disabled:hover {
    background-color: transparent;
    color: rgba($color: $brown_light_clr, $alpha: .6);
}