@import '../../../assets//commonStyles//vars_mixins';


.title {
    margin-top: 0px;
    margin-bottom: 5px;
}

.desc {
    margin-bottom: 25px;
    color: var(--err-clr);
    font-weight: 600;
    font-size: 13px;

    @media(max-width: 576px) {
        font-size: 11px;
    }
}

.messagesContainer {
    padding: 25px 10px 15px 10px;
    border-radius: $borderR_value;
    box-shadow: var(--boxsh-val);
}


.messagesContainerInner {
    // max-height: 420px;

    max-height: calc(100vh - 80px - 100px - 85px - 100px);
    min-height: 270px;

    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 7px;

    // @media(max-width: 768px) {
    //     max-height: 300px;
    // }



    @include thin-grey-scrollbar;
}

.err {
    color: var(--err-clr);
    text-align: center;
    font-weight: 700;
    margin: 40px 0px 30px 0px;
}

.noMessagesLett {
    text-align: center;
    font-weight: 700;
    margin: 0px;
    padding: 15px 0px;
}