@import ',./../../../../assets//commonStyles//vars_mixins';


.btn,
a.btn,
.btn:disabled:hover {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    letter-spacing: .5px;

    padding: 8px 15px;
    
    background-color: rgb(var(--accent-clr_main));
    border: 0px solid transparent;
    box-shadow: var(--boxsh-val-small);
    border-radius: $borderR_value_small;

    font-size: 1rem;
    font-weight: 600;
    // letter-spacing: .5px;
    text-transform: uppercase;
    color: var(--main-bg-clr);
    white-space: nowrap;
   
    cursor: pointer;
    transition: $transition_val;

    svg {
        font-size: 20px;
        margin: 0px;
        flex-shrink: 0;
    }
}

.btn:hover {
    background-color: rgba(var(--accent-clr_main), .9);
    color: var(--main-bg-clr);
}

.btn:disabled,
.btn:disabled:hover {
    opacity: .6;
    cursor: not-allowed;
}