@import '../../vars_mixins';
@import '../buttonFollowUnfollow.module.scss';

.userItemWr {
    border-bottom: 1px solid rgba($color: #D2D2D2, $alpha: .4);
    padding: 15px 0px 15px 15px;
}

.userItem {
    display: flex;
    gap: 30px;

    @media(max-width: 500px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 0px;
    }
}

.userItemWr:first-child {
    border-top: 1px solid rgba($color: var(--text-clr), $alpha: .3);
}

.avatarNameStatus {
    flex: 1 1 auto;
    display: flex;
    gap: 30px;

    @media(max-width: 500px) {
        flex: 0 1 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7px;
    }
}

.avatarWr {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba($color: var(--text-clr), $alpha: .5);
    box-shadow: var(--boxsh-val);
    background-color: rgba(var(--accent-clr_sec), 1);

    @include img-absolute;
}

.textPart {
    flex: 1 1 auto;

    @media(max-width: 500px) {
        flex: 0 1 100%;
    }
}

.name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;

    @media(max-width: 500px) {
        text-align: center;
    }
}

.status {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;

    svg {
        width: 18px;
        height: 18px;
        transform: scale(-1, 1);
    }
}

.followUnfollowBtnBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;

    button,
    p {
        @media(max-width: 500px) {
            align-self: flex-end //align-items: center;
        }
    }
}

.error {
    visibility: hidden;
    opacity: 0;
    color: var(--err-clr);
    font-weight: 700;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    height: 15px;
}

.error.visible {
    visibility: visible;
    opacity: 1;
}

.writeAMessageBlock {
    margin-top: 9px;
    font-size: 13px;

    @media(max-width: 500px) {
        display: flex;
        justify-content: end;
        padding-right: 15px;
    }


    .writeAMessage {
        font-size: 1rem;
        white-space: nowrap;
        font-weight: 600;
        width: 105px;
        color: var(--text-clr);
        transition: $transition_val;
        line-height: 1;
        padding: 2px;
        cursor: pointer;
    }

    .writeAMessage:hover {
        text-decoration: none;
        color: rgba(var(--accent-clr_main), 1);
    }
}