@import '../../vars_mixins';
.topPartPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;

    h1,
    p {
        margin: 0px;
        align-items: center;
        line-height: 1;
    }

    p {
        font-weight: 500;
        opacity: .7;
    }
}

.errorBlock {
    text-align: center;
    padding: 50px 0px;
    font-weight: 600;
}

.paginationBlock {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.serverErrMessage{
    color: $err_clr;
    text-align: center;
    font-weight: 700;
    margin: 40px 0px 30px 0px;
}