@import '../../../assets//commonStyles//vars_mixins';
@import '../../../assets//commonStyles//modules/customInputs.module.scss';

.modalWind {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: $modal_bg_clr;
    transition: $transition_val;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWind.visible {
    opacity: 1;
    visibility: visible;
}

.modalContent {
    @include thin-grey-scrollbar;
    position: relative;
    width: 615px;
    // height: 400px;
    max-height: 100vh;

    overflow-y: auto;
    background-color: var(--main-bg-clr);
    border-radius: $borderR_value;
    // border: 3px solid $brown_clr;
    box-shadow: var(--boxsh-val);

    padding: 20px 30px 20px 30px;

    @media(max-width: 630px) {
        width: 100%;
        border-radius: 0px;
        border: 0px solid transparent;

    }

    @media(max-width: 576px) {
        padding: 20px 15px 20px 15px;
        // min-height: 100vh;
    }
}

.closeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 28px;
    padding: 3px;
    cursor: pointer;
}

.closeBtnMask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background-color: red;
}

.title {
    margin-top: 0px;
    padding-right: 40px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
}

.userDataBlock {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;

    @media(max-width:630px) {
        margin-bottom: 17px;
    }
}

.avatarWr a {
    width: 70px;
    height: 70px;
    box-shadow: var(--boxsh-val);
}

.name {
    font-weight: 700;
}

.jumpToDialogLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    // text-align: right;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 3px;

    @media(max-width:630px) {
        padding: 4px;
        margin-bottom: 25px;
    }
}

textarea.styledTextarea {
    height: 120px;
    margin-bottom: 3px;
}

button.sendBtn {
    width: 160px;
    margin-left: auto;
}



.notificationModal {
    transform: translateY(120px);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 7px;
    left: 7px;
    z-index: 20;
    background-color: var(--main-bg-clr);
    padding: 15px 20px;
    transition: $transition_val;
    border-radius: $borderR_value;
    width: 280px;
    height: 100px;
    box-shadow: var(--boxsh-val);
    color: var(--text-clr-light-th);

    a,
    a:active,
    a:visited {
        color: var(--text-clr-light-th);
    }

    a:hover {
        color: rgba(var(--accent-clr_main), 1);
    }


    &.succ {
        background-color: rgba($color: #BFE8B6, $alpha: 1);
    }

    &.err {
        background-color: rgba($color: #fcd2c6, $alpha: 1);
        color: var(--err-clr);
    }
}

.notificationModal.visible {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.closeSmallBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 3px;
    cursor: pointer;
}


.subtitle {
    font-weight: 700;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 0px;
    font-size: 13px;

    a {
        font-weight: 700;
        color: rgb(var(--accent-clr_main));
    }
}

.charactersLeft {
    // text-align: right;
    margin-bottom: 2px;
    font-size: 12px;
    color: rgba($color: var(--text-clr), $alpha: .7);
}