@import '../../../assets//commonStyles//vars_mixins';

// @import '../../../assets//commonStyles//modules//styledInputs.module.scss';
.loginPage {
    padding-top: 40px;

    @media(max-width: 992px) {
        padding-top: 15px;
    }
}

.logoWr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    @media(max-width: 992px) {
        svg {
            display: none;
        }
    }
}

.title {
    text-align: center;
    font-size: 1.6rem;
    margin: 10px auto 20px auto;

    font-weight: 600;
    max-width: 380px;

    @media(max-width: 450px) {
        font-size: 19px;
    }
}