@import '../../../../../assets//commonStyles//vars_mixins';

.messageItem {
    padding: 5px 8px;
    display: flex;
    gap: 20px;
    border-radius: $borderR_value;
    margin-bottom: 4px;
}

.myMessageItem {
    background-color: rgba($color: #5FBE67, $alpha: .3);
}


.avatarWr {
    a {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
}

.userName {
    font-weight: 700;
}