@import '../../../../../../assets//commonStyles//vars_mixins';
@import '../../../../../../assets/commonStyles/modules/customInputs.module.scss';


.err {
    margin-bottom: 0px;
    font-size: 10px;
    margin-top: 3px;
    white-space: nowrap;
    font-weight: 600;
    color: var(--err-clr);
    height: 13px;
    // opacity: 0;
}


.row1 {
    margin-bottom: 10px;
}

.row2 {
    margin-bottom: 12px;
}

.row3 {
    margin-bottom: 20px;
}


.row2 {
    display: flex;
    // align-items: center;
    gap: 30px;

    @media(max-width: 576px) {
        flex-wrap: wrap;
        gap: 15px;
    }
}










.row2 {
    .switchWr {
        flex-shrink: 1;
        margin-top: 7px;
    }

    .lookingForAJobLabel {
        display: flex;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
        font-weight: 600;
    }

    .inputGroup {
        flex-grow: 1;
    }

    input {
        flex: 1 1 auto;

        @media(max-width: 576px) {
            flex: 0 1 100%
        }
    }
}


.row3 textarea {
    height: 90px;
}


label.aboutMeTitle,
.contactsTitle {
    font-weight: 600;
    // font-size: 15px;
    margin-bottom: 0.8rem;
    line-height: 1.2;
}

.contactsFields {
    margin-bottom: 20px;
}


.contactFieldsRow {
    display: flex;
    gap: 25px;
    margin-bottom: 7px;

    @media(max-width: 576px) {
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 0px;
    }

    .inputGroup {
        margin-bottom: 0px;
        flex: 1 1 calc((100% - 25px)/2);

        @media(max-width: 576px) {
            flex: 0 1 100%;
            margin-bottom: 2px;

            .spanErr {
                font-size: 10px;
            }
        }
    }

    input {
        width: 100%;
    }
}

// .contactFieldsRow:not(:last-child) {
//     margin-bottom: 10px;
// }



button.updateBtn {
    width: 100%;
    margin-bottom: 7px;
}





.onSubmitErrOrSuccWr {
    opacity: 0;
    visibility: hidden;
    transition: $transition_val;
    margin-bottom: 5px;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.onSubmitErrOrSucc {
    display: flex;
    justify-content: end;
    gap: 12px;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
    height: 21px;

    svg {
        font-size: 20px;
    }

    &.succ {
        color: #38A169;
    }

    &.err {
        color: var(--err-clr);
    }
}