@import '../../../../../../assets//commonStyles//vars_mixins';
@import '../../../../../../assets//commonStyles//modules/styledInputs.module.scss';


.err {
    margin-bottom: 0px;
    font-size: 10px;
    margin-top: 3px;
    white-space: nowrap;
    font-weight: 600;
    color: $err_clr;
    height: 13px;
    // opacity: 0;
}


.row1,
.row2 {
    margin-bottom: 10px;
}

.row2 {
    margin-bottom: 28px;
}

.row3 {
    margin-bottom: 30px;
}


.row2 {
    display: flex;
    align-items: center;
    gap: 30px;

    @media(max-width: 576px){
        flex-wrap: wrap;
        gap: 15px;
    }
}

.switchWr {
    
    flex-shrink: 1;
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 10px;
    white-space: nowrap;

    label {
        margin-bottom: 0px;
    }

    .switch input+span {
        // background: rgba($color: $brown_light_clr, $alpha: .3);
        background: #E53E3E;
    }

    .switch[data-checked] input+span {
        background: #38A169;
    }
}

.row2 input {
    flex: 1 1 auto;

    @media(max-width: 576px){
       flex: 0 1 100%
    }
}

.row3 textarea {
    height: 90px;
}



.aboutMeTitle,
.contactsTitle {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.8rem;
}

.contactsFields {
    margin-bottom: 20px;
}


.contactFieldsRow {
    display: flex;
    gap: 25px;
    margin-bottom: 7px;

    @media(max-width: 576px){
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 0px;
    }

    .contactInpWr {
        flex: 1 1 calc((100% - 25px)/2);

        @media(max-width: 576px){
            flex: 0 1 100%;
        }
    }

    input {
        width: 100%;
    }
}

// .contactFieldsRow:not(:last-child) {
//     margin-bottom: 10px;
// }

button.updateBtn {
    // width: 160px;
    width: 100%;
    // margin-bottom: 25px;
    text-transform: uppercase;
    padding: 15px 25px;
    background-color: $brown_light_clr;
    box-shadow: $boxshadow_val;
    border: 2px solid $brown_light_clr;
    transition: $transition_val;
    gap: 5px;
    color: $lgrey_clr;
    display: flex;
    margin-left: auto;
    margin-bottom: 12px;


    svg {
        font-size: 1.5rem;
        ;
    }

    &:hover {
        background-color: rgba($color: $brown_light_clr, $alpha: .9);
        border: 2px solid rgba($color: $brown_light_clr, $alpha: .9);
    }
}

button.updateBtn[disabled]:hover{
    color: $lgrey_clr;
    background-color: $brown_light_clr;
    border: 2px solid $brown_light_clr;
}

.onSubmitErrOrSuccWr {
    opacity: 0;
    visibility: hidden;
    transition: $transition_val;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.onSubmitErrOrSucc {
    display: flex;
    justify-content: end;
    gap: 12px;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
    height: 21px;

    svg{
        font-size: 20px;
    }

    &.succ{
        color: #38A169;
    }

    &.err{
        color: $err_clr;
    }
}

