@import '../../../../assets//commonStyles//vars_mixins';
@import '../../../../assets//commonStyles//modules//users-friends//cardPreview.module.scss';

$mask_bg: rgba(var(--restore-fr-mask-clr), .8);
$btn_bg: rgba(var(--restore-fr-mask-clr), 1);
$btn_hover_bg: rgba(var(--restore-fr-mask-clr), .05);

.userItemWr {
    position: relative;
}

.maskWr .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $mask_bg;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;

}

.maskWr button.cancelBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $btn_bg;
    padding: 8px 25px;
    width: 200px;
    transition: $transition_val;
    height: 35px;
    color: var(--text-clr);

    &:hover {
        background-color: $btn_hover_bg;
        box-shadow: var(--boxsh-val-small);

        color: var(--text-clr);
    }
}