@import '../../../../../assets//commonStyles//vars_mixins';

.themeToggleBlock {
    display: flex;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
}

.subt {
    // font-weight: 600;
    font-size: 1.1rem;
    font-weight: 700;
    white-space: nowrap;
    // line-height: 1;
    margin: 0px;
    // margin-bottom: 20px;
}

.themesVariantsBtnGroup {
    display: inline-flex;
    box-shadow: var(--boxsh-val-small);
    border-radius: $borderR_value_small;
}

.buttonTh {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    line-height: 1;
    padding: 10px 12px;
    width: 110px;
    cursor: pointer;
    transition: $transition_val;
    background-color: transparent;
    border: 1px solid var(--text-clr);
    outline: none;
    font-size: .9rem;
    color: var(--text-clr);

    @media(max-width: 450px){
        width: 95px;
        gap: 7px;
    }

    span {
        display: inline-block;
        margin-top: -2px;
    }

    svg {
        font-size: 1.3rem;
        flex: 0 0 1.3rem;
    }
}

.buttonTh.light {
    border-radius: $borderR_value_small 0px 0px $borderR_value_small;
    border-right: 1px solid transparent;
}

.buttonTh.dark {
    border-radius: 0px $borderR_value_small $borderR_value_small 0px;
    border-left: 1px solid transparent;
}

.buttonTh:hover {
    background-color: rgba(var(--accent-clr_main), .2);
}

.buttonTh.active {
    background-color: rgba(var(--accent-clr_main), 1);
    color: var(--main-bg-clr);
    // border: 1px solid rgba(var(--accent-clr_main), 1);

    &:hover {
        background-color: rgba(var(--accent-clr_main), 1);
        // border: 1px solid rgba(var(--accent-clr_main), 1);
    }
}


//!
.activeLight .buttonTh.system {
    border-left: 1px solid rgba(var(--accent-clr_main), 1);
}

.activeDark .buttonTh.system {
    border-right: 1px solid rgba(var(--accent-clr_main), 1);
}