@import '../../../assets//commonStyles//vars_mixins';

a.subAvatarWPhoto,
.subAvatarWPhoto,
a.subAvatarWLett,
.subAvatarWLett {
    display: flex;
    width: 53px;
    height: 53px;
    border: 1px solid var(--main-bg-clr);
    border-radius: 50%;
    color: #EFEFEF !important;
    font-weight: 600;
    box-shadow: var(--boxsh-val-small);

    &:hover {
        color: var(--main-bg-clr);
    }
}

// .subAvatarWPhoto:not(:first-child),
// .subAvatarWLett:not(:first-child) {
//     margin-left: -13px;

// }

.subAvatarWPhoto {
    @include img-absolute;


    img {
        border-radius: 50%;
    }
}

.subAvatarWLett {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--accent-clr_sec);
    // font-weight: 700;
    color: var(--main-bg-clr);
    font-size: 16px;

}

// div.subAvatarWLett {
//     background-color: var(--main-bg-clr);
//     color: $brown_clr;
// }