@import '../../../assets//commonStyles//vars_mixins';

.sidebar {
    position: fixed;
    padding-bottom: 45px;
    top: 80px;
    left: 0px;
    z-index: 4;
    width: 250px;
    height: calc(100vh - 80px);
    background-color: var(--sidebar-header-clr);
    transition: $transition_val;
    overflow-y: auto;

    @media(max-width: 576px) {
        top: 60px;
        height: calc(100vh - 60px);
    }
}

.sidebar.hide {
    transform: translateX(-100%);
}

.linkToSettingsWr{
    position: absolute;
    bottom: 25px;
    left: 0px;
    padding: 0px 30px;

    a{
        display: inline-block;
        padding: 2px;
        // display: flex;
        // align-items: center;
        // gap: 12px;
    }

    svg{
        font-size: 1.5rem;
    }
   
}

.linksContainer {
    width: 100%;
    padding: 40px 30px 40px 0px;
    gap: 3px;
    margin-bottom: 30px;

    @media(max-width:576px) {
        padding: 20px 15px 20px 0px;
    }

    a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 50px;
        font-weight: 700;
        font-size: 20px;
        border-left: 5px solid transparent;
        transition: $transition_val;
    }

    a:not(:last-child){
        margin-bottom: 4px;
    }

    a:hover,
    a.act {
        border-left: 5px solid rgba(var(--accent-clr_main), 1);;
        color: rgba(var(--accent-clr_main), 1);
    }
}

.subsBlock {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;

    .lett {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .subsAvatars {
        display: flex;
        margin-bottom: 25px;
        height: 53;
    }

    .subItemWr {
        flex: 0 0 53px;
        width: 53px;
        height: 53px;
    }

    .subItemWr:not(:first-child) {
        margin-left: -13px;
    }

    div.restSubsCountBlock {
        flex: 0 0 53px;
        width: 53px;
        height: 53px;
        border: 1px solid var(--main-bg-clr);
        border-radius: 50%;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: rgba(var(--accent-clr_sec), 1);
        // font-weight: 700;
        color: var(--main-bg-clr);
        font-size: 16px;
        margin-left: -13px;

        background-color: var(--main-bg-clr);
        color: var(--text-clr);
        box-shadow: var(--boxsh-val-small);
        line-height: 1;
        font-weight: 600;
    }

    .watchAll {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        padding: 3px;
    }
}

.serverErrMessage {
    color: var(--err-clr);
    text-align: center;
    font-weight: 700;
    // margin: 40px 0px 30px 0px;
}

.linkToDialogs{
    position: relative
}
