@import '../../../assets//commonStyles//vars_mixins';


.header {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--sidebar-header-clr);
    transition: $transition_val;
   
    // border-bottom: 1px solid $orange_clr;
    box-shadow: var(--boxsh-val);
    padding: 8px 50px;
    height: 80px;

    @media(max-width: 992px) {
        padding: 8px 15px;
    }

    @media(max-width: 576px) {
        height: 60px;
    }
}

.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@keyframes rotate-logo {
    0% {
        transform: rotate(0deg);
        transform-origin: center center;
    }

    100% {
        transform: rotate(360deg);

    }
}

a.logoWr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    transform-origin: center center;
    transition: 0s;
    // transition: 0s;

    // @media(max-width: 992px) {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%,-50%);
    //     transition: 0s;
    // }

    

    svg {
        width: 60px;
        height: 60px;
        fill: rgba(var(--accent-clr_main), 1);

        animation-name: rotate-logo;
        animation-duration: 60s;
        // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0ms;

        @media(max-width: 576px) {
            width: 45px;
            height: 45px;
        }
    }
}




.burgerIcon {
    padding: 3px;
    cursor: pointer;

    @media(max-width: 992px) {
        margin-right: 68px;
    }

    @media(max-width: 576px) {
        margin-right: 58px;
    }

    svg {
        fill: rgba(var(--accent-clr_main), 1);
        font-size: 4rem;

        @media(max-width: 576px) {
            width: 100%;
            height: 100%;
        }
    }

    @media(max-width: 576px) {
        width: 42px;
        height: 42px;
        padding: 0px;
    }
}


.rightPartHeader {
    position: relative;
    display: flex;
    justify-content: end;

    
    // width: 130px;
    @media(max-width: 992px) {
        width: 130px;
    }

    @media(max-width: 576px) {
        width: 100px;
    }

    .avatarWr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
    }

    .avatarHeader {
        background-color: rgba(var(--accent-clr_main), 1);
        color: var(--sidebar-header-clr);
        border: 0px solid transparent;
        // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        width: 43px;
        height: 43px;
    }

    .nickName {
        max-width: 110px;
        font-weight: 600;
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @media (max-width: 576px) {
            display: none;
        }
    }

    button.logoutBtn {
        position: absolute;
        z-index: 20;
        top: 110%;
        right: 0px;
        opacity: 0;
        visibility: hidden;
       
        width: 130px;
        // font-size: 14px;
        padding: 8px 20px;
        background-color:rgba(var(--sign-out-btn-bg), 1);
        gap: 10px;
    
        &:hover {
            background-color: rgba(var(--sign-out-btn-bg), .9);
        }
    
        &:disabled,
        &:disabled:hover {
            background-color: rgba(var(--sign-out-btn-bg), 1);
        }
    }

    // медиазапрос, проверяющий, что это не тачпад
    @media (hover: hover) {

        &:hover {
            .logoutBtn {
                top: 105%;
                right: 0px;
                opacity: 1;
                visibility: visible;
            }
        }
    }


}

.loginBtnWr {
    display: flex;
    // gap: 5px;
    flex-direction: column;
    align-items: flex-end;
}


.loginBtnWr a.loginBtn {
    margin-left: auto;
    width: 130px;
    font-weight: 600;
    background-color: rgba(var(--accent-clr_main), 1);
    gap: 15px;
    height: 35px;
    color: var(--main-bg-clr);

    @media(max-width: 576px) {
        width: 45px;
        gap: 7px;
    }

    svg {
        font-size: 1.5rem;
    }

    &:hover {
        background-color: rgba(var(--accent-clr_main), .9);
        color: var(--main-bg-clr);
    }

    &.disabled,
    &.disabled:hover{
        opacity: 0.8;
        background-color: rgba(var(--accent-clr_main), 1);
        cursor: not-allowed;
    }
}

.errOnCheckAuth {
    margin: 0px;
    color: var(--err-clr);
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 5px;
}

.avatarWr{
    position: relative;
}

.errOnSignOut{
    position: absolute;
    left: -10px;
    bottom: -25px;
    @include text-cut(80px);
    font-size: 9px;
    font-weight: 600;
    color: var(--err-clr);
    // height: 9px;

}