@import '../../../assets//commonStyles//vars_mixins';


.header {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $orange_light_clr;
    border-bottom: 1px solid $orange_clr;
    box-shadow: $boxshadow_val;
    padding: 8px 50px;
    height: 80px;

    @media(max-width: 992px) {
        padding: 8px 15px;
    }

    @media(max-width: 576px) {
        height: 60px;
    }
}

@keyframes rotate-logo {
    0% {
        transform: rotate(0deg);
        transform-origin: center center;
    }

    100% {
        transform: rotate(360deg);

    }
}

.logoWr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    transform-origin: center center;

    svg {
        width: 60px;
        height: 60px;
        fill: $brown_light_clr;

        animation-name: rotate-logo;
        animation-duration: 13s;
        // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0ms;

        @media(max-width: 576px) {
            width: 45px;
            height: 45px;
        }
    }
}

.rightPartHeader {
    position: relative;

    .avatarWr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
    }

    .avatarHeader {
        background-color: $brown_light_clr;
        color: $orange_light_clr;
        border: 1px solid $brown_light_clr;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .nickName {
        font-weight: 600;
        font-size: 13px;

        @media (max-width: 576px) {
            display: none;
        }
    }

    button.logoutBtn {
        position: absolute;
        z-index: 20;
        top: 110%;
        right: 0px;
        opacity: 0;
        visibility: hidden;
        transition: $transition_val;

        display: inline-flex;

        justify-content: center;
        align-items: center;


        width: 130px;
        text-transform: uppercase;
        padding: 5px 25px;
        font-weight: 500;
        // background-color: $brown_light_clr;
        // border: 2px solid $brown_light_clr;
        background-color: $brown_clr;
        border: 2px solid $brown_clr;

        box-shadow: $boxshadow_val;
        
        gap: 5px;
        color: $lgrey_clr;
        border-radius: 5px;
        white-space: nowrap;
        transition: $transition_val;

        svg {
            font-size: 1.5rem;
            margin: 0px;
        }

        &:hover {
            // background-color: rgba($color: $brown_light_clr, $alpha: .9);
            // border: 2px solid rgba($color: $brown_light_clr, $alpha: .9);
            background-color: rgba($color: $brown_clr, $alpha: .9);
            border: 2px solid rgba($color: $brown_clr, $alpha: .9);
            color: $lgrey_clr;
        }
    }

    // .logoutBtn:hover {
    //     background-color: $yellow_clr;
    // }

    // медиазапрос, проверяющий, что это не тачпад
    @media (hover: hover) {

        &:hover {
            .logoutBtn {
                top: 105%;
                right: 0px;
                opacity: 1;
                visibility: visible;
            }
        }
    }


}

.burgerIcon {
    padding: 3px;
    cursor: pointer;

    svg {
        fill: $brown_light_clr;

        @media(max-width: 576px) {
            width: 100%;
            height: 100%;
        }
    }

    @media(max-width: 576px) {
        width: 42px;
        height: 42px;
        padding: 0px;
    }
}

.loginBtnWr {
    display: flex;
    // gap: 5px;
    flex-direction: column;
    align-items: flex-end;
}


.loginBtn {
    // align-self: center;
    display: inline-flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;


    width: 130px;
    text-transform: uppercase;
    padding: 5px 25px;
    font-weight: 500;
    background-color: $brown_light_clr;
    box-shadow: $boxshadow_val;
    border: 2px solid $brown_light_clr;
    transition: $transition_val;
    gap: 10px;
    color: $lgrey_clr;
    border-radius: 5px;
    white-space: nowrap;
    transition: $transition_val;

    svg {
        font-size: 1.5rem;
        ;
    }

    &:hover {
        background-color: rgba($color: $brown_light_clr, $alpha: .9);
        border: 2px solid rgba($color: $brown_light_clr, $alpha: .9);
        color: $lgrey_clr;
    }
}

.errOnCheckAuth {
    margin: 0px;
    color: $err_clr;
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 5px;
}