:root {
    // цвет сайдбара, хедера и скроллбара
    // --sidebar-header-clr-light-th: #FFDDAA;
    --sidebar-header-clr-light-th: #E1E1E1;
    --sidebar-header-clr-dark-th: #1D1E19;

    --boxsh-val-light-th: 2px 2px 10px rgba(0, 0, 0, .5);
    --boxsh-val-dark-th: 2px 2px 10px rgba(0, 0, 0, .6);

    --boxsh-val-small-light-th: 2px 2px 5px rgba(0, 0, 0, .3);
    --boxsh-val-small-dark-th: 2px 2px 5px rgba(0, 0, 0, .3);

    --boxsh-for-message-light-th: 3px 0px 3px rgba(0, 0, 0, .05);
    --boxsh-for-message-dark-th: 3px 0px 3px rgba(0, 0, 0, .6);

    --text-clr-light-th: #351704;
    --text-clr-dark-th: #EFEFEF;

    --main-bg-clr-light-th: #EFEFEF;
    --main-bg-clr-dark-th: #272822;

    --body-bg-light-th: #F0772B;
    --body-bg-dark-th: #3B3C35;

    --accent-clr_main-light-th: 160, 69, 11; //rgb(160, 69, 11)
    --accent-clr_main-dark-th: 247, 136, 66; //rgb(247, 136, 66)  

    --accent-clr_sec-light-th: 240, 119, 43; //rgb(240, 119, 43)
    --accent-clr_sec-dark-th: 102, 216, 238; //rgb(102, 216, 238)  

    --my-msg-clr-light-th: #CBE3CD;
    --my-msg-clr-dark-th: #49627b;

    --my_msg-date-viewed-clr-light-th: #38A169;
    --my_msg-date-viewed-clr-dark-th: #82C2F7;

    --companion-msg-clr-light-th: #fff;
    --companion-msg-clr-dark-th: #283645;

    --small-scrollbar-clr-light-th: rgba(29, 30, 25, .3);
    --small-scrollbar-clr-dark-th: rgba(239, 239, 239, .3);

    --delete-msg-icon-clr-light-th: 197, 48, 48; //#C53030
    --delete-msg-icon-clr-dark-th: 160, 160, 160; // #A0A0A0

    --mask-for-restore-msg-bg-light-th: rgba(239, 239, 239, .9);
    --mask-for-restore-msg-bg-dark-th: rgba(39, 40, 34, .9);

    --err-clr-light-th: #C53030;
    --err-clr-dark-th: #D65454;

    --sign-out-btn-bg-light-th: 53, 23, 4; //#351704
    --sign-out-btn-bg-dark-th: 220, 150, 150; //#DC9696

    --restore-fr-mask-clr-light-th: 239, 239, 239; //rgba(239, 239, 239, 1)
    --restore-fr-mask-clr-dark-th: 39, 40, 34; //rgba(39, 40, 34, 1)



    //!
    --sidebar-header-clr: var(--sidebar-header-clr-light-th);
    --main-bg-clr: var(--main-bg-clr-light-th);
    --body-bg: var(--body-bg-light-th);
    --text-clr: var(--text-clr-light-th);
    --accent-clr_main: var(--accent-clr_main-light-th);
    --accent-clr_sec: var(--accent-clr_sec-light-th);
    --err-clr: var(--err-clr-light-th);
    --small-scrollbar-clr: var(--small-scrollbar-clr-light-th);

    --boxsh-val: var(--boxsh-val-light-th);
    --boxsh-val-small: var(--boxsh-val-small-light-th);
    --boxsh-for-message: var(--boxsh-for-message-light-th);

    --my-msg-clr: var(--my-msg-clr-light-th);
    --my_msg-date-viewed-clr: var(--my_msg-date-viewed-clr-light-th);
    --companion-msg-clr: var(--companion-msg-clr-light-th);
    --delete-msg-icon-clr: var(--delete-msg-icon-clr-light-th);
    --mask-for-restore-msg-bg: var(--mask-for-restore-msg-bg-light-th);

    --sign-out-btn-bg: var(--sign-out-btn-bg-light-th);

    --restore-fr-mask-clr: var(--restore-fr-mask-clr-light-th);
}


//#797979 #d6d6d6 #e5b567 #b4d273 #e87d3e #9e86c8 #b05279 #6c99bb
// #66D8EE; #AE81FF #A6E22E #F92672 #FD971F


//!не будет меняться

$transition_val:0.4s;

//// $borderR_value: 15px;
$borderR_value: 5px;
$borderR_value_small: 5px;


// $accent_drk_clr: #351704;
$modal_bg_clr: rgba($color: #1D1E19, $alpha: .7);
$warn_clr: #CDB507;



@mixin img-absolute {
    position: relative;

    img,
    svg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin thin-grey-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--small-scrollbar-clr);
        border-radius: 3px;
    }
}

@mixin text-cut($widthBlock) {
    width: $widthBlock;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}