// Цвета

$orange_clr: #F0772B;
$orange_light_clr: #FFDDAA;

// $yellow_clr: #E7C000;
$yellow_light_clr: #F4ECC5;

$brown_clr:#351704;
$brown_light_clr: #A0450B;

$lgrey_clr: #EFEFEF;

$err_clr: #C53030;

$warn_clr: #CDB507;

$my_message_clr: rgba($color: #5FBE67, $alpha: .25);
// $my_message_clr: #CBE3CD;

$my_message_icons_clr: #38A169;

$borderR_value: 15px;
$borderR_value_small: 5px;


$transition_val:0.4s;

$boxshadow_val: 2px 2px 10px rgba(0, 0, 0, 0.5);

$boxshadow_val_small: 2px 2px 5px rgba(0, 0, 0, 0.3);

$boxshadow_for_message: 3px 0px 3px rgba(0, 0, 0, 0.05);
// $border_r: 15px;
// $bg_dark_grad: linear-gradient(to bottom, rgba(19, 57, 92, 0.8), rgba(0, 0, 0, 0.8) 80%);
// $bg_light_grad: linear-gradient(to bottom, rgba(19, 57, 92, 0.7), rgba(0, 0, 0, 0.5) 80%);
// $orange_clr: #FFA927;

@mixin img-absolute {
    position: relative;

    img, svg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin thin-grey-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #000000, $alpha: .3);
        border-radius: 3px;
    }
}